

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/*input[type=submit], button[type="submit"] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover, button[type="submit"]:hover {
  background-color: darkred;
}

*/

@media(min-width:576px) {
  #provjera{
    display:none;
  }
}

@media(min-width:992px) {
  #provjera2{
    display:none;
  }
}
@media(min-width:768px) {
  #provjera3{
    display:none;
  }
}

#stil1 {
  color : white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255, .1);
  border-width:3px;
  border-style:solid;
  border-color: lightgray;
  border-radius: 3px;
  border-style:outset;

}
#stil2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(129, 129, 129. .1);

}
body {
  background-color: rgb(0, 0, 44);
}

#nesto {
  background-color: rgb(83, 82, 82);
}



.poveznica2 {
    color: white;
    font-size: medium;
    text-align: left;
    text-decoration: none;
    background-color: grey;
    padding: 0.8em 1em;
    border-radius: 8px;

}
#razmak {
  margin-top: 5px;
}

/*
a:hover {
  color: black;
}
*/
.nazad {
  margin-left: 23px;
}
form {
  display: inline;
}
.random {
  margin-top: 400px;
  margin-left: -80px;
  margin-right: -80px;
} 
/*
#show {
  background-color: rgb(67, 168, 67);
}
#edit {
  background-color: rgb(101, 183, 210);
}
*/
.td-text-green {color: rgb(0, 177, 0);}
.td-text-yellow {color: rgb(185, 185, 14);}
.td-text-red {color: red;}

span.disable-links {
  pointer-events: none;
}